*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}
html {
  font-family: $font-josfin;
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  position: relative;
  //   background-color: rgba($Desaturated-Red, 0.5);
}
